<div class="bg-white">
  <div>
    <h1 class="font-kitten">Budgets!</h1>
  </div>
  <div>
    <%= button_to "Sign In", new_user_session_path, method: :get %>
    <%= button_to "Sign Up", new_user_registration_path, method: :get %>
  </div>
</div>
