@font-face {
  font-family: 'Proxima Nova Alt Lt';
  src:
    local('Proxima Nova Alt Light'),
    local('ProximaNovaA-Light'),
    url('../fonts/ProximaNovaA-Light.woff2') format('woff2'),
    url('../fonts/ProximaNovaA-Light.woff') format('woff'),
    url('../fonts/ProximaNovaA-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src:
    local('Proxima Nova Bold'),
    local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kitten Swash';
  src:
    local('Kitten Swash'),
    local('KittenSwash'),
    url('../fonts/KittenSwash.woff2') format('woff2'),
    url('../fonts/KittenSwash.woff') format('woff'),
    url('../fonts/KittenSwash.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
