<div class="category d-flex p-2 bg-white border-gray-1 rounded my-1">
  <div class="flex-grow-1 d-flex flex-column justify-content-end mx-1">
    <h3 class="color-text font-proxima-bold fs-6 no-link">
      <%= transaction.deal.name %>
    </h3>
    <span class="category-date color-text text-decoration-none">
      <%= transaction.deal.date %>
    </span>
  </div>
  <span class="align-self-center color-text text-decoration-none">
    <%= transaction.deal.total %>
  </span>
</div>